/venv
/paper

**/.DS_Store

/flower
.env

# Ignore compiled Python files
**/__pycache__/
**/*.py[cod]

# Ignore virtual environments
venv/
heterofl_on_simulation/venv/

# Ignore data and output directories
heterofl_on_simulation/data/
heterofl_on_simulation/outputs/

llm_reasoning_benchmark/OpportunityUCIDataset/
# Optionally, ignore IDE or editor-specific files
.vscode/
*.swp
